<ion-tabs selectedIndex="2">
  <ion-tab [root]="tab1Root" tabTitle="Nonos" tabIcon="hand"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Shoppinglist" tabIcon="basket"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="SSC" tabIcon="transgender"></ion-tab>
</ion-tabs>
